*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

/* nav-1 styles */

#navbar1{
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 0 8%;
    font-size: 14px;
    color: rgb(193, 193, 193);
    background-color: rgb(249, 249, 249);
}
#first-nav{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid rgb(236, 236, 236);
    border-right: 1px solid rgb(236, 236, 236);
    max-width: 1230px;
    margin: 0 auto;
}
#social-icons-nav{
    display: flex;
    padding: 0 25px;
    align-items: center;
    border-right: 1px solid rgb(236, 236, 236);
}
.fa-brands{
    margin-right:  20px;
}
.fa-brands:hover{
    color: #d54900;
    cursor: pointer;
}
#office-details{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.details{
    /* display: flex;
    gap: 15px; */
    border-left: 1px solid rgb(236, 236, 236);
}
.off-de{
    display: flex;
    gap: 15px;
    padding: 22px 20px;
    align-items: center;
}
.off-de:hover{
    color: #d54900;
    cursor: pointer;
}
/* nav-2 styles */
#navbar2{
    padding: 38px 0;
    /* background-color: white;
    position: sticky;
    top: 0;
    transition: 1s; */
    /* z-index: 9999999999; */
}

#second-nav{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
}
#nav-menu #nav-menu-ul{
    display: flex;  
    gap: 20px; 
    font-size: 13px;
}
#nav-menu #nav-menu-ul .main-li{
    list-style: none;
    border-right: 1px solid rgb(242, 242, 242);
    padding: 10px 0;
}
#search-li{
    border-right: none !important;
}
#nav-menu #nav-menu-ul .main-li a{
    text-decoration: none;
    margin-right:  20px;
    color: black;
}
#nav-menu #nav-menu-ul .main-li a:hover{
    color: rgb(213, 73, 0);
}
/* .main-menu{
   position: relative;
} */
#nav-menu .main-menu1 #dropdown-menu1{
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 15px;
    left: 290px;
    font-size: 12px;
    box-shadow: 1px 2px 3px gray;
    top: 140px;
    display: none;
    z-index: 9999999;
}
#nav-menu .main-menu2 #dropdown-menu2{
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 15px;
    left: 390px;
    font-size: 12px;
    box-shadow: 1px 2px 3px gray;
    top: 140px;
    display: none;
    z-index: 9999999;
}
#nav-menu .main-menu3 #dropdown-menu3{
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 15px;
    left: 532px;
    font-size: 12px;
    box-shadow: 1px 2px 3px gray;
    top: 140px;
    display: none;
    z-index: 9999999;
}
#nav-menu .main-menu1 #dropdown-menu1 .drop-list{
    margin-bottom: 15px;
    font-weight: 500;
}
#nav-menu .main-menu2 #dropdown-menu2 .drop-list{
    margin-bottom: 15px;
    font-weight: 500;
}
#nav-menu .main-menu3 #dropdown-menu3 .drop-list{
    margin-bottom: 15px;
    font-weight: 500;
}
#nav-menu .main-menu1:hover #dropdown-menu1{
    display: block;
}
#nav-menu .main-menu2:hover #dropdown-menu2{
    display: block;
}
#nav-menu .main-menu3:hover #dropdown-menu3{
    display: block;
}

#phone-display{
    position: sticky;
    top: 0;
    background-color: #fff;
    display: none;
    z-index: 99999999;
    padding-top: 10px;
}
#phn-nav-img{
    width: 140px;
}
#phone-display{
    background: white;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 20px 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #phone-display ul{
    float: right;
  }
  #phone-display ul li{
    display: inline-block;

  }
  #phone-display ul li a{
    color: white;
    font-size: 17px;

    text-transform: uppercase;
  }
  #phone-display ul li a:hover{
    color: #d54900;
  }
  .checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 72px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .magnifying-glass-de , .fa-bars{
    background-color: rgb(41, 41, 41);
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
  }
  #check{
    display: none;
  }

/* header body style */
.swiper {
    width: 100%;
    height: 100%;
    /* z-index: -1; */
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
    /* display: flex; */
    justify-content: right;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* .swiper-button-next{
    color: white;
    background-color: black;
    padding: 10px;
} */
#head-sec .swiper-button-next:after, #head-sec .swiper-button-prev:after {
    /* font-size: var(--swiper-navigation-size); */
    font-size: 14px !important;
    font-weight: 800;
    color: white;
    background-color: black;
    opacity: .5;
    padding: 15px;
    display: none;
    /* display: none; */
}
.swiper-button-prev{
    top: 375px;
}
#head-sec .swiper-button-prev:hover::after, #head-sec .swiper-button-next:hover::after{
    opacity: 1;
}
.swiper-button-next{
    top: 375px;
}
#head-sec:hover .swiper-button-next::after{
    display: block;
}
#head-sec:hover .swiper-button-prev:after{
    display: block;
}

#dream-div{
    background-image: url('../images/main-sliderdimmedpumpedv4.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center top;
    height: 80vh;
    display: flex;
    align-items: center;
}
#dream-div2{
    background-image: url('../images/main-slider4-plans.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center top;
    height: 80vh;
    display: flex;
    align-items: center;
}
#dream-div3{
    background-image: url('../images/main-slider_slide2.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center top;
    height: 80vh;
    display: flex;
    align-items: center;
}
.caption{
    width: 49%;
    margin-left: 10px;
    color: white;
}
.cap-property{
    width: 70%;
}
.sm-head{
    margin-bottom: 10px;
    color: rgb(255, 114, 41);
    font-size: 20px;
    font-weight: 400;
}
.dream-head{
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.head-desc{
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0 10px 0;
    color: rgb(255, 255, 255);
}
.dream-btn-1{
    padding: 15px 40px;
    margin-top: 30px;
    border: none;
    background-color: #d54900;
    font-size: 14px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
}
.dream-btn-1:hover{
    background-color: black; 
    cursor: pointer; 
}
.dream-btn-2{
    padding: 15px 40px;
    margin-left: 20px; 
    border: 1px solid white;
    font-size: 14px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    background-color: transparent;
}
.dream-btn-2:hover{
    cursor: pointer; 
    background-color: white;
    color: black;
}

/* quote-sec style */
#quote-sec{
    background-image: url('../images/1400x200.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center top;
    height: 115px;
}
#quote{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
}
#quote-head{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
#quote-btn{
    padding: 15px 30px;
    border: none;
    background-color: rgb(33, 37, 41);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
}
#quote-btn:hover{
    background-color: #d54900;
}

/* service-sec */
#service-sec{
    padding: 50px 0;
}
#services{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
}
.service-card{
    width: 362px;
}
.card-img{
    width: 100%;
    display: flex;
    gap: 28px;
}
.card-img2{
    width: 100%;
    display: flex;
    gap: 28px;  
}
.card-img .img-div{
    width: 50%;
    /* height: 174px; */
    border-radius: 5px;
}
.img-div img{
    width: 100%;
}
.card-img2 .img-div{
    width: 50%;
    /* height: 174px; */
    border-radius: 5px;
}
.card-img #img-3{
    width: 100%;
}
.card-head-1{
    font-size: 16px;
    font-weight: 500;
    margin-top: 37px;
}
.card-head-2{
    font-size: 14px;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-top: 25px;
    border-top: 1px solid rgb(236, 236, 236);
    padding-top: 15px;
}
.card-desc{
    font-size: 14px;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-top: 25px;
}
/* featured works */
#featured-sec{
    padding: 60px 0;
    background-color: rgb(33, 33, 33);
}
#featured-work{
    width: 85%;
    margin: 0 auto;
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
}
#featured-work .swiper-button-next:after, #featured-work .swiper-button-prev:after {
    /* font-size: var(--swiper-navigation-size); */
    font-size: 14px !important;
    font-weight: 800;
    color: white;
    opacity: .3;
    background-color: transparent;
}

#featured-work .swiper-button-next, #featured-work .swiper-button-prev{
    top: 20px;
    width: 30px;
    height: 30px;
    background: rgb(15, 15, 15);
}
#featured-work .swiper-button-next:hover::after{
    opacity: 1;
}
#featured-work .swiper-button-prev:hover::after{
    opacity: 1;
}
#featured-work .swiper-button-prev{
    right: 49px;
    left: inherit;
}
#featured-head{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
    color: white;
}
.img-div{
    overflow: hidden;
    width: 100%;

}
.featured-card:hover .featured-img {
    transform: scale(1.1);
}
.featured-img{
    transition: transform .4s ease-in-out;
}
.featured-img:hover{
    transform: scale(1.1);
}
.featured-card{
    position: relative;
    /* z-index: -1; */
}
.featured-card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
}
.featured-card:hover .featured-card-body{
    opacity: .7;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

/* what-we-offer-section-styles */
#what-we-offer-sec{
    padding: 70px 0;
}
#what-we-offer{
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    max-width: 1230px;
    margin: 0 auto;
}
#offer-tab{
    width: 60%;
}
#consulting{
    width: 40%;
}
#consulting img{
    width: 100%;
}
.container{
  width: 100%;
  margin: 0px 20px;
}

.container .topic{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content input{
  display: none;
}

.content{
  display: flex;
  justify-content: space-between;
}

.content .list{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  margin-right: 50px;
}

.content .list label{
  cursor: pointer;
  text-align: right;
  padding: 20px 20px 20px 30px;
  border-top: 1px solid rgb(236, 236, 236);
  border-right: 1px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
}

#construction:checked ~ .list label.construction,
#renovations:checked ~ .list label.renovations,
#consulting:checked ~ .list label.consulting,
#contructor:checked ~ .list label.contructor,
#architecture:checked ~ .list label.architecture,
#planning:checked ~ .list label.planning{
  border-left: 7px solid black;
}
#construction:checked ~ .list .slider{
  top: 0;
}

#renovations:checked ~ .list .slider{
  top: 60px;
}

#consulting:checked ~ .list .slider{
  top: 120px;
}

#contructor:checked ~ .list .slider{
  top: 180px;
}

#architecture:checked ~ .list .slider{
  top: 240px;
}
#planning:checked ~ .list .slider{
  top: 300px;
}

.content .text-content{
  width: 80%;
  height: 100%;
  transition: all 0.45s ease-in-out .5s;
}

.content .text{
  display: none;
  transition: all 0.45s ease-in-out .5s;
}

.content .text .title{
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 500;
}
.content .text .checked{
    font-size: 14px;
    margin-bottom: 35px;
}
.checked-menu{
    margin-bottom: 25px;
}
.chek-name{
    margin-left: 15px;
    color: rgb(114, 114, 114);
}
.container .text p{
  text-align: justify;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(114, 114, 114);
}

.content .text-content .construction{
  display: block;
  transition: all 0.45s ease-in-out .5s;
}

#construction:checked ~ .text-content .construction,
#renovations:checked ~ .text-content .renovations,
#consulting:checked ~ .text-content .consulting,
#contructor:checked ~ .text-content .contructor,
#architecture:checked ~ .text-content .architecture,
#planning:checked ~ .text-content .planning{
  display: block;
  transition: all 0.45s ease-in-out .5s;
}

#renovations:checked ~ .text-content .construction,
#consulting:checked ~ .text-content .construction,
#contructor:checked ~ .text-content .construction,
#architecture:checked ~ .text-content .construction,
#planning:checked ~ .text-content .construction{
  display: none;
  transition: all 0.45s ease-in-out .5s;
}
#consulting h1{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}
#consulting p{
    font-size: 14px;
    line-height: 1.8;
    color: rgb(114, 114, 114);
}
/* buy-sec-styles */
#buy-sec{
    padding: 100px 0;
    text-align: center;
    background-image: url(../images/statement-construction-site.jpg);
    background-size: cover;
    margin-bottom: 70px;
}
#buy-sec h1{
    font-size: 31px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}
#buy-sec button{
    padding: 15px 30px;
    background-color: #292929;
    border: none;
    color: #fff;
}
#buy-sec button:hover{
    background-color: #d54900;
}

/* trust-section-styles */
#trust-sec{
    margin-bottom: 70px;
}
#trust-div{
    width: 70%;
    margin: 0 auto;
    max-width: 1230px;
    margin: 0 auto;
}
#trust-head{
    width: 35%;
    border-bottom: 1px solid rgb(229, 229, 229);
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
#trust-head h1{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
#clients-co{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 28px;
    margin-bottom: 20px;
}
#trust-div p{
    text-align: center;
    font-size: 18px;
    color: rgb(209, 209, 209);
}
.co-second-img{
    display: none;
}
.co-img:hover .co-second-img{
  display: block;
}
.co-img:hover .co-first-img{
    display: none;
    width: 100%;
}

/* footer-sec-styles */
#footer-sec{
    background-color: rgb(36, 36, 36);
    color: rgb(217, 217, 217);
    padding: 70px 0;
}
#first-footer{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1230px;
    margin: 0 auto;
    gap: 30px;
}
.foot-head{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 45px;
}
#foot-about-desc{
    font-size: 13px;
    line-height: 1.8;
    margin-top: 30px;
}
#navigation ul li{
    list-style: none;
    margin-bottom: 15px;
}
#navigation ul li a{
    text-decoration: none;
    color: rgb(217, 217, 217);
    font-size: 12px;
}
#navigation ul li a:hover{
    color: #d54900;
}
#active{
    color: #d54900 !important;
}
#tags button{
    padding: 15px 20px;
    border: none;
    margin-bottom: 3px;
    background-color: #292929;
    border-radius: 3px;
    color: rgb(217, 217, 217);
}
#tags button:hover{
   background-color: #d54900;
   cursor: pointer;
}
#recent-pro p{
    font-size: 14px;
    margin-bottom: 25px;
}
#recent-pro p:hover{
    color: #d54900;
}
#second-footer{
    background-color: rgb(15, 15, 15);
    padding: 30px 0;
}
#second-footer p{
    text-align: center;
    color: rgb(196, 196, 196);
    font-size: 13px;
}

@media only screen and (max-width: 576px) {
    #navbar1{
        display: none;
    }

    #navbar2{
        display: none;
    }
    #phone-display{
        display: block;
        overflow: hidden;
    }
    .checkbtn{
        display: block;
        /* position: fixed; */
      }
      #mobile-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        opacity: 1;
        top: 80px;
        right: -100%;
        text-align: left;
        transition: all .5s;
        z-index: 30;
      }
    #phone-display ul {
        float: right;
        margin-right: 0px;
        padding: 20px;
    }
      #phone-display ul li{
        width: 80%;
        margin-top: 5px;
      }
     .mobile-dropdown li{
     }
      #phone-display ul li a{
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
      }
      a:hover,a.active{
        color: #d54900;
      }
      #check:checked ~ ul{
        right: 0;
      }

      /* header */
      #head-sec:hover .swiper-button-next::after{
        display: none;
    }
    #head-sec:hover .swiper-button-prev:after{
        display: none;
    }
    #dream-div{
        background-position: center top;
        height: 70vh;
        display: flex;
        align-items: center;
        /* margin-top: 30px; */
    }
    #dream-div2{
        background-position: center top;
        height: 70vh;
        display: flex;
        align-items: center;
        /* margin-top: 30px; */
    }
    #dream-div3{
        height: 70vh;
        display: flex;
        align-items: center;
        /* margin-top: 30px; */
    }
    .caption{
        width: 100%;
        /* height: 60%; */
        margin-right: 0;
        color: white;
        /* margin-top: 20px; */
        /* margin-bottom: 20px; */
    }
    .cap-property{
        width: 90%;
        margin: 0 auto;
    }
    .sm-head{
        margin-bottom: 7px;
        font-size: 10px;
    }
    .dream-head{
        font-size: 30px;
    }
    .head-desc{
        font-size: 12px;
        line-height: 1.5;
    }
    .head-desc br{
        display: none;
    }
    .dream-btn-1{
        padding: 10px 30px;
        margin-top: 20px;
        border: none;
        background-color: #d54900;
        font-size: 12px;
        display: inline;
    }
    /* .dream-btn-1:hover{
        background-color: black; 
        cursor: pointer; 
    } */
    .dream-btn-2{
        padding: 10px 30px;
        margin-left: 20px; 
        border: 1px solid white;
        font-size: 12px;
        font-weight: 400;
        color: white;
        border-radius: 5px;
        background-color: transparent;
    }
    #quote-sec{
        height: 100%;
        padding: 35px 25px 35px 25px;
    }
    #quote{
        width: 100%;
        display: block;
    }
    #quote-head{
        font-size: 20px;
        font-weight: 500;
    }
    #quote-btn{
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 600;
    }

    /* services */
    #services{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .service-card{
        width: 100%;
        margin-bottom: 20px;
    }

    .card-img img{
        /* width: 100%; */
    }
    .card-img2{
        display: block;
    }
    .card-img2 .img-div{
        width: 70%;
        /* height: 300px; */
        margin-bottom: 20px;
    }
    #what-we-offer{
        width: 95%;
        display: block;
    }
    #offer-tab{
        width: 100%;
    }
    #consulting{
        width: 100%;
        margin-top: 20px;
    }
    .content{
        display: block;
      }
      .content .list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;
        width: 90%;
        margin-right: 0px;
        margin-bottom: 40px;
      }
      .content .list label{
        text-align: left;
        padding: 20px;
        border-top: 1px solid rgb(236, 236, 236);
        border-right: 1px solid rgb(236, 236, 236);
        border-bottom: 1px solid rgb(236, 236, 236);
        border-left: 1px solid rgb(236, 236, 236);
        font-size: 14px;
        font-weight: 500;
        z-index: 10;
      }


    #trust-div{
        width: 95%;
    }
    #trust-head{
        width: 90%;
        border-bottom: 1px solid rgb(229, 229, 229);
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    #trust-head h1{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    #clients-co{
        display: block;
        text-align: center;
        border-top: 1px solid rgb(229, 229, 229);
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 30px;
        margin-bottom: 20px;
    }
    .co-img{
        margin-bottom: 30px;
    }
    #trust-div p{
        padding: 0 15;
        font-size: 20px;
    }

    #first-footer{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
    #navbar1{
        display: none;
    }

    #navbar2{
        display: none;
    }
    #phone-display{
        display: block;
        overflow: hidden;
    }
    .checkbtn{
        display: block;
        /* position: fixed; */
      }
      #mobile-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        opacity: 1;
        top: 80px;
        right: -100%;
        text-align: left;
        transition: all .5s;
        z-index: 30;
      }
      #phone-display ul {
        float: right;
        margin-right: 0px;
        padding: 20px;
    }
      #phone-display ul li{
        display: block;
        /* padding: 15px 0; */
        /* width: 100%; */
        /* line-height: 30px; */
      }
   
      .mobile-dropdown{
        flex-direction: row;
      }
      #phone-display ul li a{
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
      }
      a:hover,a.active{
        color: #d54900;
      }
      #check:checked ~ ul{
        right: 0;
      }

    /* header */
    #head-sec:hover .swiper-button-next::after{
        display: block;
    }
    #head-sec:hover .swiper-button-prev:after{
        display: block;
    }
    #dream-div{
        background-position: center top;
        height: 40vh;
        display: flex;
        align-items: center;
    }
    #dream-div2{
        background-position: center top;
        height: 40vh;
        display: flex;
        align-items: center;
    }
    #dream-div3{
        height: 40vh;
        display: flex;
        align-items: center;
    }
    .caption{
        width: 70%;
        margin-right: 0;
        color: white;
    }
    .cap-property{
        width: 85%;
        margin: 0 auto;
    }
    .sm-head{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .dream-head{
        font-size: 30px;
    }
    .head-desc{
        font-size: 12px;
    }
    .head-desc br{
        display: block;
    }
    .dream-btn-1{
        padding: 15px 40px;
        margin-top: 20px;
        font-size: 14px;
        display: inline;
    }
    /* .dream-btn-1:hover{
        background-color: black; 
        cursor: pointer; 
    } */
    .dream-btn-2{
        padding: 15px 40px;
        margin-left: 20px; 
        font-size: 14px;
    }
    #quote-sec{
        height: 100%;
        padding: 35px 25px 35px 15px;
    }
    #quote{
        width: 100%;
        display: flex;
    }
    #quote-head{
        font-size: 20px;
    }
    #quote-btn{
        padding: 20px 45px;
        font-size: 14px;
    }

    /* services */
    #services{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .service-card{
        width: 100%;
        margin-bottom: 20px;
    }
    .card-img img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    }
    .card-img2 img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    }
    .card-img #img-3{
    width: 90%;
    }


    #what-we-offer{
        width: 95%;
        display: flex;
    }
    #offer-tab{
        width: 70%;
    }
    #consulting{
        width: 30%;
        margin-top: 20px;
    }
    .content{
        display: flex;
        gap: 20px;
      }
      .content .list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: relative;
        width: 30%;
        margin-right: 0px;
        margin-bottom: 40px;
      }
      .content .list label{
        text-align: left;
        padding: 20px;
        border-top: 1px solid rgb(236, 236, 236);
        border-right: 1px solid rgb(236, 236, 236);
        border-bottom: 1px solid rgb(236, 236, 236);
        border-left: 1px solid rgb(236, 236, 236);
        font-size: 14px;
        font-weight: 500;
        z-index: 10;
      }


    #trust-div{
        width: 95%;
    }
    #trust-head{
        width: 50%;
        border-bottom: 1px solid rgb(229, 229, 229);
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    #trust-head h1{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    #clients-co{
        display: flex;
        text-align: center;
        align-items: center;
        border-top: 1px solid rgb(229, 229, 229);
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 20px;
        margin-bottom: 20px;
    }
    .co-img{
        /* margin-bottom: 30px; */
        width: 80%;
    }
    #trust-div p{
        padding: 0 15;
        font-size: 20px;
    }

    #first-footer{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}